#include <behaviors.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT  0
#define SYMBOLS  1
#define NUMARROW 2
#define WM       3
#define QWERTY   4

/ {
    behaviors {
        u_mt: u_mt {
            compatible = "zmk,behavior-hold-tap";
            label = "u_mt";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "DEFAULT";
            bindings = <
            &lt 2 TAB     &kp V         &kp DOT        &kp O            &kp U             &kp RA(A)      &kp Q          &kp G          &kp L          &kp H         &kp F         &kp J
            &kp ESC       &u_mt LGUI C  &u_mt LALT A   &u_mt LSHFT E    &u_mt LCTRL I     &kp Y          &kp B          &u_mt LCTRL T  &u_mt LSHFT R  &u_mt LALT N  &u_mt LGUI S  &kp RA(S)
            &none         &kp Z         &kp X          &kp COMMA        &kp RA(U)         &kp RA(O)      &kp P          &kp D          &kp W          &kp M         &kp K         &tog QWERTY
                                                       &kp TAB          &lt 2 SPACE       &mo 3          &kp BACKSPACE  &lt 1 RETURN
            >;
        };

        symbol_layer {
            label = "SYMBOLS";
            bindings = <
            &none   &kp AT     &kp PRCNT   &kp LBRC   &kp RBRC   &kp CARET          &kp EXCL   &kp LT     &kp GT     &kp EQUAL   &kp AMPS   &kp F11
            &none   &kp PIPE2  &kp GRAVE   &kp LPAR   &kp RPAR   &kp STAR           &kp QMARK  &kp SLASH  &kp COLON  &kp MINUS   &kp UNDER  &none
            &none   &none      &kp HASH    &kp LBKT   &kp RBKT   &kp TILDE          &kp PLUS   &kp DQT    &kp SQT    &kp BSLH    &kp SEMI   &kp KP_DOT
                                           &trans     &trans     &trans             &none      &none
            >;
        };

        numarrow_layer {
            label = "NUMARROW";
            bindings = <
            &none  &none  &kp N1   &kp N2   &kp N3   &none             &none  &none     &none     &none   &none      &none
            &none  &none  &kp N4   &kp N5   &kp N6   &none             &none  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &none
            &none  &none  &kp N7   &kp N8   &kp N9   &kp N0            &none  &none     &none     &none   &none      &none
                                    &none   &none    &none             &none  &none
            >;
        };

        wm_layer {
            label = "WM";
            bindings = <
            &bt BT_CLR   &trans &kp F1 &kp F2 &kp F3 &kp F10       &kp K_VOL_UP     &kp PRINTSCREEN  &kp END          &kp HOME         &trans           &trans 
            &bt BT_SEL 0 &trans &kp F4 &kp F5 &kp F6 &kp F11       &trans           &kp LGUI LEFT    &kp LGUI DOWN    &kp LGUI UP      &kp LGUI RIGHT   &trans
            &bt BT_SEL 1 &trans &kp F7 &kp F8 &kp F9 &kp F12       &kp K_VOL_DN     &trans           &kp PAGE_DOWN    &kp PAGE_UP      &trans           &trans 
                                       &trans &trans &trans        &kp K_PLAY_PAUSE &kp K_NEXT
            >;
        };

        qwerty_layer {
            label = "QWERTY";
            bindings = <
            &none   &none     &kp Q    &kp W    &kp E      &kp R       &kp T     &none     &none     &none   &none      &none
            &kp ESC &kp LSHFT &kp A    &kp S    &kp D      &kp F       &kp G     &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &none
            &none   &kp LCTRL &kp Z    &kp X    &kp C      &kp V       &kp B     &none     &none     &none   &none      &trans
                                       &kp TAB  &kp SPACE  &none       &trans    &trans
            >;
        };
    };
};
